//  ::-webkit-scrollbar {
//       width:  3px;
//       height: 100%;
//   }
  
//   ::-webkit-scrollbar-thumb {
//       background-image: -webkit-linear-gradient(top,#d9edf7 0,#c4e3f3 100%);
//   }
  
//   ::-webkit-scrollbar-track {
//       background: silver;
//   }
  
//   body{
//       font-family: Baloo Da;
//       font-size: 1em;
//       color: #5E6A70;
//   }
  
//   .divider{
//       border-bottom: 2px solid silver;
//       margin: 10px 0px;
//   }
  
//   .rb-container{
//       width: 90%;
//       height: auto;
//       box-shadow: -10px 10px 15px 0px gray;
//       margin: 0 auto 50px auto;
//       border: 1px solid silver;
//   }
  
//   .rb-container .rb-wrapper .rb-bodyLeft{
//       background-color: #FFFFFF;	
//       padding: 10px 50px;
//    }
  
//   .rb-container .rb-wrapper .rb-bodyLeft .sec-1 > h5, .rb-container .rb-wrapper .rb-bodyLeft .sec-2 > h5, .rb-container .rb-wrapper .rb-bodyLeft .sec-3 > h5, .rb-container .rb-wrapper .rb-bodyLeft .sec-4 > h5{
//       font-size: 30px;	
//       text-transform: uppercase;
//       position: relative;
//       color: #5E6A70;
//   }
  
//   .rb-container .rb-wrapper .rb-bodyLeft .sec-1 > p{
//       font-size: 13px;	
//       color: #5E6A70;
//   }
  
//   .rb-container .rb-wrapper .rb-bodyLeft .sec-2, .rb-container .rb-wrapper .rb-bodyLeft .sec-3, .rb-container .rb-wrapper .rb-bodyLeft .sec-4{
//       margin-top: 50px;
//   }
  
//   .rb-container .rb-wrapper .rb-bodyLeft .sec-2 .icon-wrapper, .rb-container .rb-wrapper .rb-bodyLeft .sec-3 .icon-wrapper, .rb-container .rb-wrapper .rb-bodyLeft .sec-4 .icon-wrapper{
//       background-color: #6A797E;
//       color: white;
//       height: 26px;
//       width: 28px;
//       display: inline-block;
//       text-align: center;
//       border-radius: 50%;
//       vertical-align: middle;
//       margin-top: -3px;
//   }
  
//   .rb-container .rb-wrapper .rb-bodyLeft .sec-2 > h5 > .icon-wrapper > span, .rb-container .rb-wrapper .rb-bodyLeft .sec-3 > h5 > .icon-wrapper > span, .rb-container .rb-wrapper .rb-bodyLeft .sec-4 > h5 > .icon-wrapper > span{
//       font-size: 23px;
//   }
  
//   .rb-container .rb-wrapper .rb-bodyLeft .sec-2 > h5:after{
//       content: '';
//       position: absolute;
//       background-color: #766E76;
//       height: 2px;
//       width: 75%;
//       top: 45%;
//   }
  
//   .rb-container .rb-wrapper .rb-bodyLeft .sec-2 > .lblDegree, .rb-container .rb-wrapper .rb-bodyLeft .sec-3 > .lblDegree, .rb-container .rb-wrapper .rb-bodyLeft .sec-4 > .lblDegree{
//       color: #5E6A70;
//       font-size: 20px;
//       text-transform: uppercase;
//       margin-top: 25px;
//   }
  
//   .rb-container .rb-wrapper .rb-bodyLeft .sec-2 > .lblDegree > span, .rb-container .rb-wrapper .rb-bodyLeft .sec-3 > .lblDegree > span, .rb-container .rb-wrapper .rb-bodyLeft .sec-4 > .lblDegree > span{
//       font-size: 16px;
//       font-family: Open Sans;
//   }
  
//   .rb-container .rb-wrapper .rb-bodyLeft .sec-2 > .lblDegree + p, .rb-container .rb-wrapper .rb-bodyLeft .sec-3 > .lblDegree + p, .rb-container .rb-wrapper .rb-bodyLeft .sec-4 > .lblDegree + p{
//       font-size: 13px;
//       color: #5E6A70;
//   }
  
//   .rb-container .rb-wrapper .rb-bodyLeft .sec-3 > h5:after{
//        content: '';
//       position: absolute;
//       background-color: #766E76;
//       height: 2px;
//       width: 67%;
//       top: 45%;
//   }
  
//   .rb-container .rb-wrapper .rb-bodyLeft .sec-4 > h5:after{
//        content: '';
//       position: absolute;
//       background-color: #766E76;
//       height: 2px;
//       width: 80%;
//       top: 45%;
//   }
  
//   .rb-container .rb-wrapper .rb-bodyRight{
//       background-color: #6A797E;	
//       padding: 10px 25px;
//       color: white;
//       height: 1439px;
//   }
  
//   .rb-container .rb-wrapper .rb-bodyRight .sec-1 > img{
//       border-radius: 50%;
//       height: 205px;
//       width: 200px;
//       margin: 10px auto 25px auto;
//       display: block;
//   } 
  
//   .rb-container .rb-wrapper .rb-bodyRight .sec-1 > h5{
//       font-size: 25px;
//   }
  
//   .rb-container .rb-wrapper .rb-bodyRight .sec-1 > p{
//       font-size: 15px;
//   }
  
//   .rb-container .rb-wrapper .rb-bodyRight .sec-2{
//       margin: 25px 0px;
//       padding: 5px;
//       background-color: #5B666C;
//   }
  
//   .rb-container .rb-wrapper .rb-bodyRight .sec-2 > h5{
//       font-size: 13px;
//       color: white;
//   }
  
//   .rb-container .rb-wrapper .rb-bodyRight .sec-2 .icon-wrapper{
//       background-color: #6A797E;
//       color: white;
//       height: 24px;
//       width: 26px;
//       display: inline-block;
//       text-align: center;
//       border-radius: 50%;
//       vertical-align: middle;
//       margin-top: -3px;
//   }
  
//   .rb-container .rb-wrapper .rb-bodyRight .sec-2 > h5 > .icon-wrapper > span{
//       font-size: 23px;
//       margin-right: 1px;
//   }
  
//   .rb-container .rb-wrapper .rb-bodyRight .sec-3{
//       margin-top: 25px;
//   }
  
//   .rb-container .rb-wrapper .rb-bodyRight .sec-3 > h5{
//       font-size: 30px;
//   }
  
//   .rb-container .rb-wrapper .rb-bodyRight .sec-3 > .lblProfessionalSkills, .rb-container .rb-wrapper .rb-bodyRight .sec-3 > .lblPersonalSkills{
//       font-size: 16px;
//       color: white;
//       position: relative;
//   }
  
//   .rb-container .rb-wrapper .rb-bodyRight .sec-3 > .lblProfessionalSkills:after{
//       content: '';
//       position: absolute;
//       background-color: silver;
//       height: 2px;
//       width: 45%;
//       top: 45%;
//   }
  
//   .rb-container .rb-wrapper .rb-bodyRight .sec-3 > .lblSkillName{
//       margin-top: 5px;
//   }
  
//   .rb-container .rb-wrapper .rb-bodyRight .sec-3 > .progress{
//       height: 10px;
//       color: gray;
//       border-radius: 0; 
//       margin-top: -5px;
//   }
  
//   .rb-container .rb-wrapper .rb-bodyRight .sec-3 > .progress .progress-bar{
//       background-image: none;
//       background-color: #5B666A;
//       margin-top: 0;
//   }
  
//   .rb-container .rb-wrapper .rb-bodyRight .sec-3 > .lblPersonalSkills:after{
//       content: '';
//       position: absolute;
//       background-color: silver;
//       height: 2px;
//       width: 56%;
//       top: 45%;
//   }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Montserrat", sans-serif;
  }
  
  body {
    background: #585c68;
    font-size: 14px;
    line-height: 22px;
    color: #555555;
  }
  
  .bold {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
  }
  
  .semi-bold {
    font-weight: 500;
    font-size: 16px;
  }
  
  .resume {
    width: 800px;
    height: auto;
    display: flex;
    margin: 50px auto;
  }
  
  .resume .resume_left {
    width: 280px;
    background: #0bb5f4;
  }
  
  .resume .resume_left .resume_profile {
    width: 100%;
  }
  
  .resume .resume_left .resume_profile img {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    padding:20px 10px
  }
  
  .resume .resume_left .resume_content {
    padding: 0 25px;
  }
  
  .resume .title {
    margin-bottom: 20px;
  }
  
  .resume .resume_left .bold {
    color: #fff;
  }
  
  .resume .resume_left .regular {
    color: #b1eaff;
  }
  
  .resume .resume_item {
    padding: 25px 0;
    border-bottom: 2px solid #b1eaff;
  }
  
  .resume .resume_left .resume_item:last-child,
  .resume .resume_right .resume_item:last-child {
    border-bottom: 0px;
  }
  
  .resume .resume_left ul li {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
  }
  
  .resume .resume_left ul li:last-child {
    margin-bottom: 0;
  }
  
  .resume .resume_left ul li .icon {
    width: 35px;
    height: 35px;
    background: #fff;
    color: #0bb5f4;
    border-radius: 50%;
    margin-right: 15px;
    font-size: 16px;
    position: relative;
  }
  ul li .icon-interest{
    width: 10px;
    height: 10px;
    background: #fff;
    color: #0bb5f4;
    border-radius: 50%;
    margin-right: 15px;
    font-size: 16px;
    position: relative;
  }
  
  .resume .icon i,
  .resume .resume_right .resume_hobby ul li i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .resume .resume_left ul li .data {
    color: #b1eaff;
  }
  
  .resume .resume_left .resume_skills ul li {
    display: flex;
    margin-bottom: 10px;
    color: #b1eaff;
    justify-content: space-between;
    align-items: center;
  }
  
  .resume .resume_left .resume_skills ul li .skill_name {
    width: 25%;
  }
  
  .resume .resume_left .resume_skills ul li .skill_progress {
    width: 60%;
    margin: 0 5px;
    height: 5px;
    background: #009fd9;
    position: relative;
  }
  
  .resume .resume_left .resume_skills ul li .skill_per {
    width: 15%;
  }
  
  .resume .resume_left .resume_skills ul li .skill_progress span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #fff;
  }
  
  .resume .resume_left .resume_social .semi-bold {
    color: #fff;
    margin-bottom: 3px;
  }
  
  .resume .resume_right {
    width: 520px;
    background: #fff;
    padding: 25px;
  }
  
  .resume .resume_right .bold {
    color: #0bb5f4;
  }
  
  .resume .resume_right .resume_work ul,
  .resume .resume_right .resume_education ul {
    padding-left: 40px;
    overflow: hidden;
  }
  
  .resume .resume_right ul li {
    position: relative;
  }
  
  .resume .resume_right ul li .date {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  .resume .resume_right ul li .info {
    margin-bottom: 20px;
  }
  
  .resume .resume_right ul li:last-child .info {
    margin-bottom: 0;
  }
  
  .resume .resume_right .resume_work ul li:before,
  .resume .resume_right .resume_education ul li:before,
  .resume .resume_right .resume_certificate ul li:before
   {
    content: "";
    position: absolute;
    top: 5px;
    left: -23.5px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 2px solid #0bb5f4;
  }
  
  .resume .resume_right .resume_work ul li:after,
  .resume .resume_right .resume_education ul li:after,
  .resume .resume_right .resume_certificate ul li:after {
    content: "";
    position: absolute;
    top: 14px;
    left: -21px;
    width: 2px;
    height: 20px;
    background: #0bb5f4;
  }
  
  .resume .resume_right .resume_hobby ul {
    display: flex;
    justify-content: space-between;
  }
  
  .resume .resume_right .resume_hobby ul li {
    width: 80px;
    height: 80px;
    border: 2px solid #0bb5f4;
    border-radius: 50%;
    position: relative;
    color: #0bb5f4;
  }
  
  .resume .resume_right .resume_hobby ul li i {
    font-size: 30px;
  }
  
  .resume .resume_right .resume_hobby ul li:before {
    content: "";
    position: absolute;
    top: 40px;
    right: -52px;
    width: 50px;
    height: 2px;
    background: #0bb5f4;
  }
  
  .resume .resume_right .resume_hobby ul li:last-child:before {
    display: none;
  }
.resume_info ul{
    padding-left: 0 !important;
}
.resume_skills ul{
    padding-left: 0 !important;
}
.resume_social ul{
    padding-left: 0 !important;
}